<h1>All posts</h1>



<%= @user.name %> <br>

<% @posts.each do |post| %>
    <a href=<%= "/users/#{@user.id}/posts/#{post.id}" %>>
        <%= post.id %> 
        <%= post.text %> <br>
    </a>
        <% post.comments.each do |comment| %>
        <%= comment.author.name %> 
        <%= comment.text %> <br>
        <% end %>
<% end %>