<h1>All Posts</h1>


<div class="userDiv">
    <div class="imgDiv">
        <img src="<%= @user.photo %>">
    </div>
     <a href=<%= "/users/#{@user.id}" %> class="usertextDiv">  
     <h1>
        <%= @user.name %>
     </h1>  
     <p>
        Number of posts : <%= @user.posts_counter %>
     </p>
      </a>
</div>

<% @posts.each do |post| %>
    <a href=<%= "/users/#{@user.id}/posts/#{post.id}" %> class="postDiv">
        <h3>
            <%= post.title %>
        </h3>
        <p>
            <%= post.text %>
        </p>
        <p class="likes">
        comments : <%= post.comments_counter %>
        likes : <%= post.likes_counter %>
        </p>
       
    </a>
    <% if post.comments_counter != 0 %>
        <p class="comments">
         <% post.comments.each do |comment| %>
   
        <b>
        <%= comment.author.name %> :
        </b> 
        <%= comment.text %>
        <br>
        <% end %>
        </p>
    <% end %>
      
   
<% end %>


