<h1>Here is a detail of post</h1>


<div class="detailPost">
        <h3>
        
        <span>
          <%= @post.title %> by <%= @user.name %>     
        </span>

        <span>
          comments : <%= @post.comments_counter %>
          likes : <%= @post.likes_counter %>
        </span>
          
        </h3>
            <p class="likes">          
        </p>

        <p>
            <%= @post.text %>
        </p>
</div>
        <div class="likeDiv">
                <%= render 'likes/new', local:{post:@post} %>
                <button>
                <%= link_to "Add a comment", new_user_post_comment_path(@user, @post) %>
                </button>
                <% if can? :destroy, @post %>
                        <%= button_to('Destroy', user_post_path(@user, @post),
                                method: "delete", remote: true, data: { confirm: 'Are you sure?'}) %>
                <% end %>
             

        </div>


<% if @post.comments_counter != 0 %>
        <p class="comments">
         <% @post.comments.each do |comment| %>
        <div class="inner-comment">
        <div>
        <b>
        <%= comment.author.name %> :
        </b> 
        <span>
           <%= comment.text %>
        </span>
        </div>
     
        <% if can? :destroy, comment %>
                <%= button_to('Destroy', user_post_comment_path(@user, @post,comment),
                method: "delete", remote: true, data: { confirm: 'Are you sure?'}) %>
        <% end %>
        </div>
       
        <% end %>
        </p>
<% end %>
      